/* Usando tus variables de color */
body {
    background-color: #1e6e63; /* Tu color de fondo */
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.contenedor-tabla {
    text-align: center;
    width: 90%;
    max-width: 800px;
}

h1#titulo {
    color: #ffffff; /* Tu color cian */
    margin-bottom: 30px;
}

/* Estilo de la tabla */
.tabla-actividad {
    width: 100%;
    border-collapse: collapse; /* Quita el espacio entre bordes */
    background-color: #072E33; /* Fondo de sección */
    border-radius: 10px;
    overflow: hidden; /* Para que las esquinas redondeadas se vean */
}

.tabla-actividad th {
    background-color: #ffffff;
    color: #030202;
    padding: 15px;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.tabla-actividad td {
    padding: 15px;
    border-bottom: 1px ;
    vertical-align: middle;
}

/* Ajuste de imágenes en la tabla */
.img-tabla {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #ffffff;
}

/* Estilo de los links */
.link-tabla {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.link-tabla:hover {
    color: #ffffff;
    text-decoration: underline;
}